<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
  <!--头部-->
  {include file="public:nav"}
  <div class="main-container ace-save-state" id="main-container">
    <!--菜单-->
    <script type="text/javascript">
      try { ace.settings.loadState('main-container') } catch (e) { }
    </script>

    {include file="public:left"}
    <div class="main-content">
      <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
          <ul class="breadcrumb">
            <li>网站名称：<span>{$sys.name}</span></li>
            <li>最后登录时间：<span>{$admin.curtime}</span></li>
            <li>最后登录IP：<span>{$admin.ip}</span></li>
          </ul>

        </div>

        <div class="page-content">
          {include file="public:set"}

          <div class="row">
            <div class="col-xs-12">
              <!-- PAGE CONTENT BEGINS -->
              <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                  <i class="ace-icon fa fa-times"></i>
                </button>

                <i class="ace-icon fa fa-check green"></i>

                欢迎使用
                <strong class="green">
                  <a href="http://www.toopen.cn" target="_blank">朵朵科技</a>后台管理系统
                  <small>(v1.1)</small>
                </strong>,
                轻量级好用的后台管理系统
              </div>

              <div class="row">

                <div class="col-sm-12 infobox-container">
                  <div class="infobox infobox-green">
                    <div class="infobox-icon">
                      <i class="ace-icon fa fa-cny"></i>
                    </div>
                    <div class="infobox-data">
                      <span class="infobox-data-number">32</span>
                      <div class="infobox-content">今日订单总金额（元）</div>
                    </div>
                  </div>

                  <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                      <i class="ace-icon fa fa-twitter"></i>
                    </div>
                    <div class="infobox-data">
                      <span class="infobox-data-number">11</span>
                      <div class="infobox-content">新增会员（个）</div>
                    </div>
                  </div>

                  <div class="infobox infobox-pink">
                    <div class="infobox-icon">
                      <i class="ace-icon fa fa-shopping-cart"></i>
                    </div>
                    <div class="infobox-data">
                      <span class="infobox-data-number">8</span>
                      <div class="infobox-content">商品发布(个)</div>
                    </div>
                  </div>

                  <div class="infobox infobox-red">
                    <div class="infobox-icon">
                      <i class="ace-icon fa fa-flask"></i>
                    </div>
                    <div class="infobox-data">
                      <span class="infobox-data-number">7</span>
                      <div class="infobox-content">订单总数(笔)</div>
                    </div>
                  </div>

                  <div class="infobox infobox-orange2">
                    <div class="infobox-icon">
                      <i class="ace-icon fa fa-flask"></i>
                    </div>
                    <div class="infobox-data">
                      <span class="infobox-data-number">6,251</span>
                      <div class="infobox-content">本月销量(笔)</div>
                    </div>

                  </div>

                  <div class="infobox infobox-blue2">
                    <div class="infobox-icon">
                      <i class="ace-icon fa fa-flask"></i>
                    </div>

                    <div class="infobox-data">
                      <span class="infobox-text">0</span>
                      <div class="infobox-content">
                        <span class="bigger-110">已完成交易(笔)</span>

                      </div>
                    </div>
                  </div>


                </div>

                <div class="col-sm-8">
                  <div class="widget-box widget-color-dark transparent">
                    <div class="widget-header widget-header-flat">
                      <h4 class="widget-title smaller">
                        技术支持
                      </h4>
                    </div>

                    <div class="widget-body">
                      <div class="widget-main">
                        <div class="alert alert-info">
                          "创新"是朵朵的生存之本，"诚信"是朵朵的一贯宗旨。优质服务、塑造互联网领域的品牌是我们的 前进目标。在朵朵科技
                          ，我们坚信，只有提供一流的服务，才能赢得用户长久的信任，热诚希望与您的合作能够成功!
                          <br>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <blockquote class="pull-right">
                              <p class="lighter line-height-125">优质服务、塑造互联网领域的品牌是我们的 前进目标。</p>

                              <small>
                                朵朵科技</small>
                            </blockquote>
                          </div>
                        </div>

                        <hr>
                        <address>
                          <strong>联系我们</strong>

                          <br>
                          郑州市金水区花园路国基路
                          <br>
                          恒华大厦806室
                          <br>
                          <i class="ace-icon fa fa-phone"></i>
                          <a href="tel:0371-56776661">(0371) 56776661</a>
                        </address>

                        <address>
                          <strong>E-mail</strong>

                          <br>
                          <a href="mailto:279585301@qq.com">279585301@qq.com</a>
                        </address>
                      </div>
                    </div>
                  </div>
                </div><!-- /.col -->
              </div><!-- /.row -->
              <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.page-content -->
      </div>
    </div><!-- /.main-content -->

    {include file="public:footer"}

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
      <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
  </div><!-- /.main-container -->



  <script>
    jQuery(function ($) {
      $('[data-rel=tooltip]').tooltip();

      $("#hide-option").tooltip({
        hide: {
          effect: "explode",
          delay: 250
        }
      });

    })
  </script>

</body>

</html>