<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
  <script type="text/javascript">
    try{ace.settings.loadState('sidebar')}catch(e){}
  </script>

  <div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
      <a  class="btn btn-success" href="{:url('Index/index/index')}" target="_blank" title="前台首页">
        <i class="ace-icon fa fa-globe"></i>
      </a>

      <a class="btn btn-info" href="javascript:;" data-rel="tooltip" data-placement="bottom" title="添加文章">
        <i class="ace-icon fa fa-pencil"></i>
      </a>

      <a class="btn btn-warning" href="{:url('Sys/seo')}" data-rel="tooltip" data-placement="bottom" title="网站优化">
        <i class="ace-icon fa fa-wrench"></i>
      </a>

      <button class="btn btn-danger tooltip-error" id="cache" data-rel="tooltip" data-placement="bottom" title="清除缓存">
        <i class="ace-icon fa fa-refresh"></i>
      </button>
    </div>
<script>
$(function(){
	$("#cache").on(ace.click_event,function(){
	    layer.confirm('确认要清除缓存?',{icon: 3},function (index) {
	    	$.post("{:url('Index/clearruntime')}",{user:1},function(data){
	    		layer.alert("缓存清理成功");
	    		});
	      layer.close(index);
	    });
	  })
	
	});
</script>
    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
      <span class="btn btn-success"></span>

      <span class="btn btn-info"></span>

      <span class="btn btn-warning"></span>

      <span class="btn btn-danger"></span>
    </div>
  </div><!-- /.sidebar-shortcuts -->

  <ul class="nav nav-list">
    {if condition="CONTROLLER_NAME eq 'Index'"}<li class="active">{else /}<li class="">{/if}
      <a href="{:url('Index/index')}">
        <i class="menu-icon fa fa-tachometer"></i>
        <span class="menu-text"> 控制台 </span>
      </a>

      <b class="arrow"></b>
    </li>
 {volist name="controls" id="c"}
    {if condition="CONTROLLER_NAME eq $c['c_modul']"}<li class="open">{else /}<li class="">{/if}
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa {$c.c_icon}"></i>
        <span class="menu-text"> {$c.c_name} </span>

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>
      <ul class="submenu">
       {volist name="$c['ways']" id="w"}
        {if condition="ACTION_NAME eq $w['c_modul']"}<li class="active">{else /}<li class="">{/if}
           <?php  $url = $c['c_modul'].'/'.$w['c_modul']; ?>
          <a href="{:url($url)}">
            <i class="menu-icon fa fa-caret-right"></i>
            {$w.c_name}
          </a>

          <b class="arrow"></b>
        </li>
      {/volist}
       
      </ul>
    </li>
{/volist}
    <!-- {if condition="CONTROLLER_NAME eq 'Lb'"}<li class="open">{else /}<li class="">{/if}
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-picture-o"></i>
        <span class="menu-text"> 广告图管理 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>
      <ul class="submenu">
       {if condition="ACTION_NAME eq 'lister'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Lb/lister')}">
            <i class="menu-icon fa fa-caret-right"></i>
            图片列表
          </a>

          <b class="arrow"></b>
        </li>

        {if condition="ACTION_NAME eq 'place'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Lb/place')}">
            <i class="menu-icon fa fa-caret-right"></i>
            广告位
          </a>

          <b class="arrow"></b>
        </li>
      </ul>
    </li>
    
    {if condition="CONTROLLER_NAME eq 'Shops'"}<li class="open">{else /}<li class="">{/if}
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-balance-scale"></i>
        <span class="menu-text"> 店铺管理 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>
      <ul class="submenu">
       {if condition="ACTION_NAME eq 'lister'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Shops/lister')}">
            <i class="menu-icon fa fa-caret-right"></i>
            店铺列表
          </a>

          <b class="arrow"></b>
        </li>
        
         {if condition="ACTION_NAME eq 'add'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Shops/add')}">
            <i class="menu-icon fa fa-caret-right"></i>
            添加店铺
          </a>

          <b class="arrow"></b>
        </li>

      </ul>
    </li>

       {if condition="CONTROLLER_NAME eq 'Goods'"}<li class="open">{else /}<li class="">{/if}
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-paper-plane"></i>
        <span class="menu-text"> 商品管理 </span>

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">
        {if condition="ACTION_NAME eq 'lister'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Goods/lister')}">
            <i class="menu-icon fa fa-caret-right"></i>
            商品列表
          </a>

          <b class="arrow"></b>
        </li>
     {if condition="ACTION_NAME eq 'type'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Goods/goods_type')}">
            <i class="menu-icon fa fa-caret-right"></i>
            商品分类
          </a>

          <b class="arrow"></b>
        </li>
     
      </ul>

    </li>

    {if condition="CONTROLLER_NAME eq 'Carte'"}<li class="open">{else /}<li class="">{/if}
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-reorder"></i>
        <span class="menu-text"> 菜单管理 </span>

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">
        {if condition="ACTION_NAME eq 'lister'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Carte/lister')}">
            <i class="menu-icon fa fa-caret-right"></i>
            后台模块
          </a>

          <b class="arrow"></b>
        </li>
    
     
      </ul>

    </li>
    
    {if condition="CONTROLLER_NAME eq 'User'"}<li class="open">{else /}<li class="">{/if}
        <a href="#" class="dropdown-toggle">
          <i class="menu-icon fa fa-reorder"></i>
          <span class="menu-text"> 管理员管理 </span>
  
          <b class="arrow fa fa-angle-down"></b>
        </a>
  
        <b class="arrow"></b>
  
        <ul class="submenu">
          {if condition="ACTION_NAME eq 'lister'"}<li class="active">{else /}<li class="">{/if}
            <a href="{:url('User/lister')}">
              <i class="menu-icon fa fa-caret-right"></i>
              管理员列表
            </a>
  
            <b class="arrow"></b>
          </li>
      
       
        </ul>
  
      </li> -->
  
  

  
    
  </ul><!-- /.nav-list -->

  <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
  </div>
</div>