<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">添加商品分类</li>
        </ul><!-- /.breadcrumb -->

      </div>

      <div class="page-content">

        {include file="public:set"}

        <div class="row">
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <form id="logoForm" class="form-horizontal" action="{:url('Goods/save_type')}" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="widget-box transparent">
                      <div class="widget-header widget-header-flat">
                        <h4 class="widget-title"><i class="ace-icon fa fa-leaf green"></i>商品分类信息</h4>
                      </div>
                      <div class="widget-body">
                        <div class="widget-main">
                        <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="">上级分类</label>
                            <div class="col-sm-10">
                              <select class="form-control" name="pid" required>
                                <option value="0">顶级分类</option>
                                {foreach name="list" item="v1"}
                                <option value="{$v1['type_id']}">{$v1['type_name']}</option>
                                {foreach name="v1['lists']" item="v2"}
                                <option value="{$v2['type_id']}">&nbsp;&nbsp;&nbsp;&nbsp;{$v2['type_name']}</option>
                                {/foreach} 
                                {/foreach}
                              </select>
                            </div> 
                        </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="">商品分类名称</label>
                            <div class="col-sm-10">
                              <input class="form-control" type="text" name="type_name" required>
                            </div>
                            
                          </div>
                   

                          <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="">排序</label>
                            <div class="col-sm-2">
                              <input class="input-small" name="type_sort" type="number" value="50">
                            </div>
                       

                          </div>
                          <div class="form-group">
                       
                            
                            <label class="col-sm-2 control-label no-padding-right" for="">是否可见</label>
                            <div class="col-sm-2">
                              <label style="padding-top: 8px">
                                <input name="status" class="ace ace-switch ace-switch-6" type="checkbox" checked/>
                                <span class="lbl"></span>
                              </label>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-xs-12">
                              <input multiple="" type="file" id="thumb" name="image"/>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                                                                     
                </div>
                
             
               
                
                <div class="clearfix form-actions">
                  <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                      <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                      保存
                    </button>
                    <button class="btn" type="reset">
                      <i class="ace-icon fa fa-undo bigger-110"></i>
                      重置
                    </button>
                  </div>
                </div>
              </form>
              <!-- PAGE CONTENT BEGINS -->
            </div>
            <!-- PAGE CONTENT ENDS -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->

 {include file="public:footer"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->


<script>
  jQuery(function($) {
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });

  })
</script>

<script>

  // 初始化filleinput控件  第一次初始化
  function initFileInput(ctrlName, uploadUrl){
      var control = $('#'+ctrlName);
      control.fileinput({
          language: 'zh', //设置语言
          uploadUrl:uploadUrl,    //上传的地址
          allowedFileExtensions:['jpg','png'],    //接收的文件后缀
          showUpload:true,    //是否显示上传按钮
          showCaption:false,    //是否显示标题
          maxFileSize: 0,    //图片最大尺寸kb 为0不限制
          maxFilesNum: 10,        //最多上传图片
          overwriteInitial: false,//不覆盖已上传的图片
          browseClass: "btn btn-info", //按钮样式 
          dropZoneEnabled: true,//是否显示拖拽区域
          previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
          msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
      });
  }

  //初始化fileinput控件,第一次初始化 (控件id，上传地址)
  initFileInput("file-1", "uploadimg");
  var arr = [];
 // 监听事件
  $("#file-1").on("fileuploaded", function (event, data, previewId, index) {
      // 上传地址    
      arr.push(data.response.response);
      
      $("#images").val(arr);
  });
  
  </script>

  <script>
    $(function () {
      $('#thumb').ace_file_input({
        style: 'well',
        btn_choose: '封面图',
        btn_change: null,
        no_icon: 'ace-icon fa fa-picture-o',
        droppable: true,
        thumbnail: 'fit'//large | fit
        //,icon_remove:null//set null, to hide remove/reset button
        /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
        /**,before_remove : function() {
						return true;
					}*/
        ,
        preview_error: function (filename, error_code) {
          //name of the file that failed
          //error_code values
          //1 = 'FILE_LOAD_FAILED',
          //2 = 'IMAGE_LOAD_FAILED',
          //3 = 'THUMBNAIL_FAILED'
          //alert(error_code);
        }

      }).on('change', function () {
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
      });
      
      $('#thumbs').ace_file_input({
          style: 'well',
          btn_choose: '首页推荐图',
          btn_change: null,
          no_icon: 'ace-icon fa fa-picture-o',
          droppable: true,
          thumbnail: 'fit'//large | fit
          //,icon_remove:null//set null, to hide remove/reset button
          /**,before_change:function(files, dropped) {
  						//Check an example below
  						//or examples/file-upload.html
  						return true;
  					}*/
          /**,before_remove : function() {
  						return true;
  					}*/
          ,
          preview_error: function (filename, error_code) {
            //name of the file that failed
            //error_code values
            //1 = 'FILE_LOAD_FAILED',
            //2 = 'IMAGE_LOAD_FAILED',
            //3 = 'THUMBNAIL_FAILED'
            //alert(error_code);
          }

        }).on('change', function () {
          //console.log($(this).data('ace_input_files'));
          //console.log($(this).data('ace_input_method'));
        });
      
      $('#thumbj').ace_file_input({
          style: 'well',
          btn_choose: '节日专区图',
          btn_change: null,
          no_icon: 'ace-icon fa fa-picture-o',
          droppable: true,
          thumbnail: 'fit'//large | fit
          //,icon_remove:null//set null, to hide remove/reset button
          /**,before_change:function(files, dropped) {
  						//Check an example below
  						//or examples/file-upload.html
  						return true;
  					}*/
          /**,before_remove : function() {
  						return true;
  					}*/
          ,
          preview_error: function (filename, error_code) {
            //name of the file that failed
            //error_code values
            //1 = 'FILE_LOAD_FAILED',
            //2 = 'IMAGE_LOAD_FAILED',
            //3 = 'THUMBNAIL_FAILED'
            //alert(error_code);
          }

        }).on('change', function () {
          //console.log($(this).data('ace_input_files'));
          //console.log($(this).data('ace_input_method'));
        });
      
      $('#thumby').ace_file_input({
          style: 'well',
          btn_choose: '宴会专区图',
          btn_change: null,
          no_icon: 'ace-icon fa fa-picture-o',
          droppable: true,
          thumbnail: 'fit'//large | fit
          //,icon_remove:null//set null, to hide remove/reset button
          /**,before_change:function(files, dropped) {
  						//Check an example below
  						//or examples/file-upload.html
  						return true;
  					}*/
          /**,before_remove : function() {
  						return true;
  					}*/
          ,
          preview_error: function (filename, error_code) {
            //name of the file that failed
            //error_code values
            //1 = 'FILE_LOAD_FAILED',
            //2 = 'IMAGE_LOAD_FAILED',
            //3 = 'THUMBNAIL_FAILED'
            //alert(error_code);
          }

        }).on('change', function () {
          //console.log($(this).data('ace_input_files'));
          //console.log($(this).data('ace_input_method'));
        });

      $("#article").ajaxForm({
        // url: 'links.html',
        // type: 'post',
        // success: fun
      })
    });

    //响应请求回调
    function fun() {

    }

  </script>
  <script>
$(function(){
	$('#logoForm').ajaxForm({
		beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
		success: complete, // 这是提交后的方法
		dataType: 'json'
	});
	
	function checkForm(){
	  
		
    }

	function complete(data){
		if(data.status==1){
			layer.alert(data.msg, {icon: 5}, function(index){
 			layer.close(index);
 			window.location.href=data.url;
			});
			
		}else{
			layer.alert(data.msg, {icon: 6}, function(index){
 			layer.close(index);
 			window.location.href=data.url;
			});
			
		}
	}
 
});

</script>
</body>
</html>
