<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">修改信息</li>
        </ul><!-- /.breadcrumb -->

      </div>

      <div class="page-content">

        {include file="public:set"}

        <div class="row">
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <form id="logoForm" class="form-horizontal" action="__URL__/usave" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="widget-box transparent">
                      <div class="widget-header widget-header-flat">
                        <h4 class="widget-title"><i class="ace-icon fa fa-leaf green"></i>个人信息</h4>
                      </div>
                      <div class="widget-body">
                        <div class="widget-main">
                          <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="">姓名</label>
                            <div class="col-sm-10">
                              <input class="form-control" type="text" name="name" value="{$re.name}" required>
                            </div>
                          </div>
                          
                         

                          <div class="form-group">
                             <label class="col-sm-2 control-label no-padding-right" for="">排序</label>
                            <div class="col-sm-2">
                              <input class="input-small" name="sort" type="number" value="{$re.sort}">
                            </div>  
                           
                      
                            
                            <label class="col-sm-2 control-label no-padding-right" for="">推荐</label>
                            <div class="col-sm-2">
                              <label style="padding-top: 8px">
                                <input name="status" class="ace ace-switch ace-switch-6" type="checkbox" {if condition="$re.status eq 1"}checked{/if} />
                                <span class="lbl"></span>
                              </label>
                            </div>

                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="widget-box transparent">
                      <div class="widget-header widget-header-flat">
                        <h4 class="widget-title"><i class="ace-icon fa fa-leaf green"></i>头像</h4>
                      </div>
                      <div class="widget-body">
                        <div class="widget-main">
                          <div class="form-group">
                            <div class="col-xs-12">
                              <input multiple="" type="file" id="thumb" name="image"/>
                              <img src="{$re.image}" class="img-responsive" />
                            </div>
                            <div class="col-xs-12">
                              <input multiple="" type="file" id="thumbs" name="images"/>
                              <img src="{$re.images}" class="img-responsive" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="row">
                  <div class="col-sm-12">
                    <script src="__ADMIN__/assets/js/ueditor.config.js" type="text/javascript"></script>
                    <script src="__ADMIN__/assets/js/ueditor.all.js" type="text/javascript"></script>
                    <textarea id="myEditor" name="content" style="width:100%;">{$re.content}</textarea>
                    <script type="text/javascript">
                      var editor = new UE.ui.Editor({
                        initialFrameHeight: 300
                      });
                      editor.render("myEditor");
                    </script>
                  </div>
                </div>
                <div class="clearfix form-actions">
                <input name="id" type="hidden" value="{$re.id}" />
                  <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                      <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                      保存
                    </button>
                    <button class="btn" type="reset">
                      <i class="ace-icon fa fa-undo bigger-110"></i>
                      重置
                    </button>
                  </div>
                </div>
              </form>
              <!-- PAGE CONTENT BEGINS -->
            </div>
            <!-- PAGE CONTENT ENDS -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->

  {include file="public:footer"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->


<script>
  jQuery(function($) {
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });

  })
</script>


  <script>
    $(function () {
      $('#thumb').ace_file_input({
        style: 'well',
        btn_choose: '图片',
        btn_change: null,
        no_icon: 'ace-icon fa fa-picture-o',
        droppable: true,
        thumbnail: 'fit'//large | fit
        //,icon_remove:null//set null, to hide remove/reset button
        /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
        /**,before_remove : function() {
						return true;
					}*/
        ,
        preview_error: function (filename, error_code) {
          //name of the file that failed
          //error_code values
          //1 = 'FILE_LOAD_FAILED',
          //2 = 'IMAGE_LOAD_FAILED',
          //3 = 'THUMBNAIL_FAILED'
          //alert(error_code);
        }

      }).on('change', function () {
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
      });
      
      $('#thumbs').ace_file_input({
          style: 'well',
          btn_choose: '首页封面图',
          btn_change: null,
          no_icon: 'ace-icon fa fa-picture-o',
          droppable: true,
          thumbnail: 'fit'//large | fit
          //,icon_remove:null//set null, to hide remove/reset button
          /**,before_change:function(files, dropped) {
  						//Check an example below
  						//or examples/file-upload.html
  						return true;
  					}*/
          /**,before_remove : function() {
  						return true;
  					}*/
          ,
          preview_error: function (filename, error_code) {
            //name of the file that failed
            //error_code values
            //1 = 'FILE_LOAD_FAILED',
            //2 = 'IMAGE_LOAD_FAILED',
            //3 = 'THUMBNAIL_FAILED'
            //alert(error_code);
          }

        }).on('change', function () {
          //console.log($(this).data('ace_input_files'));
          //console.log($(this).data('ace_input_method'));
        });

      $("#article").ajaxForm({
        // url: 'links.html',
        // type: 'post',
        // success: fun
      })
    });

    //响应请求回调
    function fun() {

    }

  </script>
  <script>
$(function(){
	$('#logoForm').ajaxForm({
		beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
		success: complete, // 这是提交后的方法
		dataType: 'json'
	});
	
	function checkForm(){
	  
		
    }

	function complete(data){
		if(data.status==1){
			layer.alert(data.msg, {icon: 5}, function(index){
 			layer.close(index);
 			window.location.href=data.url;
			});
			
		}else{
			layer.alert(data.msg, {icon: 6}, function(index){
 			layer.close(index);
 			window.location.href=data.url;
			});
			
		}
	}
 
});

</script>
</body>
</html>
